{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
    </head>
    <body>
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            <nav>
                <a href="{% url 'logout' %}">Logout</a>
            </nav>
        </footer>
    </body>
</html>
