{% extends "authentication/base.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url 'login' %}">{% trans "Log in" %}</a></p>

{% endblock %}
