{% extends "authentication/base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "Email with password reset instructions has been sent." %}</p>

<p><a href="{% url 'login' %}">{% trans "Log in" %}</a></p>

{% endblock %}
