{% extends "authentication/base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "You are now registered. Activation email sent." %}</p>

<p><a href="{% url 'login' %}">{% trans "Log in" %}</a></p>
{% endblock %}
